/* 
* @Author: Marte
* @Date:   2017-03-04 13:55:48
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-16 11:23:34
*/
/*textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}*/
*{
    font-size:12px; 
    color:#636363;
}
.commHeader{
    width:1200px;
    margin: 0 auto;
}
.commHeader .top{
    margin-bottom:25px;
}
.commHeader .middle img{
    float:left;
    width:266px;
    height:75px;
}
.commHeader .search{
    float:left;
    margin-top:10px;
    margin-left:70px;
}
.commHeader .search .wrap{
    width:544px;
    height:44px;
    border:1px solid #b12819;
    border-radius:4px;
    background:url(../../image/icon/search.png) no-repeat 14px center;
    background-size:18px 18px;
}
.commHeader .search .hot{
    font-size:12px;
    color:#636363;
    padding-left:10px;
}
.commHeader .search .hot span{
    margin-right:15px;
    line-height:24px;
}
.commHeader .search .words{
    margin-top:2px;
    margin-left:40px;
    height:40px;
    width:350px;
    border:none;
    float:left;
}
.commHeader .search .button{
    height:44px;
    width:120px;
    border:none;
    background-color:#b12819;
    float:right;
    font-size:16px;
    color:white;
    border-radius:4px;
    cursor:pointer;
}
.commHeader .otherLink{
    float:left;
    margin-top:12px;
    margin-left:58px;
}
.commHeader .otherLink .box{
    float:left;
    margin-right:16px;
}
.commHeader .otherLink .box div{
    width:45px;
    height:45px;
    border:1px solid #b12819;
    border-radius:4px;  
    background:url(../../image/icon/cart.png) no-repeat center center;
    background-size:24px 24px;
    cursor:pointer;
}
.commHeader .otherLink .second div{
    background:url(../../image/icon/star.png) no-repeat center center;
    background-size:24px 24px;
}
.commHeader .otherLink .third div{
    background:url(../../image/icon/wish.png) no-repeat center center;
    background-size:24px 21px;
}
.commHeader .otherLink .forth div{
    background:url(../../image/icon/register.png) no-repeat center center;
    background-size:24px 18px;
}
.commHeader .otherLink .box  p{
    text-align: center;
    line-height:27px;
}
.commHeader .otherLink .collection{
    position:relative;
}
.commHeader .otherLink .collection span{
    position:absolute;
    top:-8px;
    right:-8px;
    width:18px;
    height:18px;
    border-radius:50%;
    background-color:#b61e0d;
    text-align: center;
    font-size:12px;
    color:white;
}
.commHeader .top .first{
    font-size:12px;
    color:#454545;
    text-indent:22px;
    width:170px;
    float:left;
}
.commHeader .top .second{
    float:right;
    width:150px;
    margin-right:5px;
}
.commHeader .top .second .words,.commHeader .top .second .num{
    font-size:12px;
    color:#454545;
}
.commHeader .top .second .num{
    color:#b61e0d;
}
.commHeader .top .third{
    width:70px;
    height:16px;
    float:right;
    background:url(../../image/icon/down.png) no-repeat right;
    background-size:12px 12px;
    margin-right:20px;
    position:relative;
    cursor:pointer;
    text-align: center;
}
.commHeader .top .third ul{
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:2;
    cursor:pointer;
}
.commHeader .top .third ul li:hover{
    color:white;
    background-color:#b12819;
}
.commHeader .top .third .words{
    width:100%;
    font-size:12px;
    color:#454545;    
}
.commHeader .top .forth {
    width:40px;
    float:right;
    background:url(../../image/icon/question.png) no-repeat right;
    background-size:12px 12px;
    margin-right:36px;
    cursor:pointer; 
}
.commHeader .nav{
    width:100%;
    margin-top:10px;
}
.commHeader .nav ul{
    margin:0 auto;
    width:853px;
}

.commHeader .nav ul li{
    width:142px;
    float:left;
    text-align: center;
    height:55px;
    line-height:55px;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.commHeader .nav ul li:hover{
    background-color:#b12819;
}
.commHeader .nav ul li:hover a{
    color:white;
}
.fixedTop .nav ul li{
    width:121px;
}
.commHeader .nav ul li a{
    display:inline-block;
    width:100%;
    height:100%;
    font-size:18px;
    color:#454545;
}
.commHeader .nav .first{
    color:#ba2a1a;
}
.fix{
    width:60px;
    height:308px;
    position:fixed;
    top:50%;
    right:0;
    margin-top:-154px;
}
.fix div{
    width:60px;
    height:60px;
    margin-bottom:2px;
    background:url(../../image/icon/fixService.png) no-repeat center 5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.fix .sec{
    background:url(../../image/icon/fixDown.png) no-repeat center 7px;
    background-color: rgba(0, 0, 0, 0.5);    
}
.fix .third{
    background:url(../../image/icon/fixCart.png) no-repeat center 9px;
    background-color: rgba(0, 0, 0, 0.5);    
}
.fix .forth{
    background:url(../../image/icon/fixWish.png) no-repeat center 5px;
    background-color: rgba(0, 0, 0, 0.5);    
}
.fix .fifth{
    background:url(../../image/icon/fixTop.png) no-repeat center 8px; 
    background-color: rgba(0, 0, 0, 0.5);   
}
.fix div p{
    height:24px;
    line-height:24px;
    padding-top:36px;
    text-align: center;
    color:white;
}
.fixedTop{
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color: white;
    width:100%;
    height:68px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    display:none;
}
.fixedTop .inner{
    width:1200px;
    height:68px;
    background-color: white;
    margin:0 auto;
    position:relative;
}
.fixedTop .inner img{
    float:left;
    width:150px;
    height:34px;
    margin-top:17px;
    margin-left:28px;
}
.fixedTop .inner .nav ul li{
    height:68px;
    line-height:68px;
}
.fixedTop .inner .person,.fixedTop .inner .cart{
    float:right;
    width:54px;
    height:68px;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.fixedTop .inner .cart{
    margin-right:30px;
}
.fixedTop .inner .person{
    background:url(../../image/icon/person.png) center center no-repeat;
    display:none;
}
.fixedTop .inner .cart{
    background:url(../../image/icon/cartTop.png) center center no-repeat;
    position:relative;
}
.fixedTop .inner .nav ul{
    margin:0;
    width:750px;
    float:left;
    margin-left:38px;
}
.fixedTop .inner .cart span{
    position:absolute;
    right:7px;
    top:17px;
    width:14px;
    height:14px;
    border-radius:50%;
    background-color: #b61e0d;
    font-size:12px;
    line-height: 14px;
    text-align: center;
    color:white;

}
.fixedTop .inner .nav {
    margin:0;
}
.personalBox{
    position:absolute;
    width:140px;
    right:84px;
    top:0px;
    background-color: white;
}
.personalBox .list{
    display:none;
}
.personalBox li a{
    display:block;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:14px;
    color:#949494;
}
.personalBox li a:hover{
    background-color: #a60400;
    color:white;
}
.personalBox .first a{
    height:68px;
    line-height: 68px;
    color:#454545;
    font-size:16px;
    text-align: left;
    background:url(../../image/icon/up.png) 110px center no-repeat;
    background-size:18px 18px;
}
.personalBox .first a:hover{
    background-color: white;
    color:#454545;
}
.personalBox .close a{
    background:url(../../image/icon/down.png) 110px center no-repeat;  
    background-size:18px 18px; 
}