/* 
* @Author: Marte
* @Date:   2017-03-20 11:49:09
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-23 13:46:42
*/
.order .topic span{
    float:left;
    height:42px;
    font-size:16px;
}
.order .topic .icon{
    width:21px;
    background:url(../../image/icon/rightColB.png) center center no-repeat;
    background-size:14px 14px;
}
.order form .first,.order form .second,.order form .third,.order form .fifth{
    width:100%;
    height:34px;
    margin-bottom:18px;
}
.order form p span,.order form p input{
    float:left;
}
.order form p span{
    height:32px;
    line-height:32px;
}
.order form p input{
    height:32px;
    border:1px solid #e3e3e3;
    width:178px;
}
.order form .first span{
    margin-right:28px;
}
.order form .second span{
    margin-right:15px;
}
.order form .third span{
    margin-right:15px;
}
.order form .forth span{
    margin-right:15px;
    width:auto;
}
.order form .forth{
    width:100%;
    height:60px;
    margin-bottom:18px;
}
.order .forth textarea{
    width:445px;
    height:58px;
    border:1px solid #e3e3e3;
    resize:none;
}
.order form .button{
    width:150px;
    height:42px;
    background-color: #a60400;
    margin-left:153px;
    border:none;
    color:white;
    cursor:pointer;
}
.order form .fifth .inputWrap{
    width:15px;
    height:15px;
    border:1px solid #e3e3e3;
    margin-top:8px;
    margin-right:6px;
    margin-left:74px;
    cursor:pointer;
}
.order form .fifth .active{
    background:url(../../image/icon/selected.png) center center no-repeat;
    background-size:15px 15px;
}
.order form .fifth .radio{
    width:15px;
    height:15px;
    opacity:0;
    cursor:pointer;
}
.order form .third select{
    width:140px;
    height:32px;
    border:1px solid #e3e3e3;
    background:url(../../image/icon/iconfont.png) 120px center no-repeat;
    background-size:11px 7px;
    cursor:pointer;
    text-indent: 20px;
}
