/* 
* @Author: Marte
* @Date:   2017-03-20 10:00:56
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-20 11:06:03
*/
.contain .order .top .first{
    width:140px;
}
.contain .order .top .second{
    width:260px;
}
.contain .order .top .third{
    width:206px;
}
.contain .order .top .forth{
    width:158px;
}
.contain .order .top{
    width:780px;
    border-bottom:none;
}
.order .topic .left{
    font-size:16px;
}
.order .topic .right{
    color:#1bafe0;
    margin-right:198px;
}
.adressList{
    width:780px;
    border:1px solid #e3e3e3;
    border-bottom:none;
}
.adressList li{
    width:100%;
    border-bottom:1px solid #e3e3e3;
    height:90px;
}
.adressList li div{
    float:left;
    height:90px;
    text-align:center;
    line-height:90px;
}
.adressList li .first{
    width:140px;
}
.adressList li .second{
    width:260px;
}
.adressList li .third{
    width:206px;
}
.adressList li .forth{
    width:158px;
}
.order .top{
    margin-bottom:0;
}
.adressList li .forth p{
    height:25px;
    line-height:25px;
    color:#1bafe0;
    cursor:pointer;
}
.adressList li .forth .del{
    margin-top:8px;
}