/* 
* @Author: Marte
* @Date:   2017-03-18 11:10:00
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-18 18:28:10
*/
.topic span{
    float:left;
    height:42px;
    line-height:42px;
    font-size: 16px;
}
.topic .icon{
    width:21px;
    background:url(../../image/icon/rightCol.png) center center no-repeat;
    background-size:14px 14px;
}
.state{
    width:550px;
    height:83px;
    border:1px solid #e3e3e3;
    padding-left:30px;
    padding-top:10px;
    margin-bottom:22px;
}
.state .finish{
    width:48px;
}
.stateList{
    height:100%;
    float:left;
}
.stateList .left{
    width:61px;
    height:100%;
}
.stateList .right{
    width:92px;
    height:55px;
    border-bottom:1px dashed #c2c2c2;
}
.stateList .left div{
    height:42px;
    background:url(../../image/icon/process.png) center center no-repeat;
    background-size:32px 32px;
}
.stateList .left p{
    height:24px;
    line-height:24px;
    color:#bfbfbf;
    text-align: center;
}
.state .send .up .icon{
    background:url(../../image/icon/processCol.png) center center no-repeat;
    background-size:32px 32px;
}
.state .transport .up .icon{
    background:url(../../image/icon/transportCol.png) center center no-repeat;
    background-size:32px 32px;
}
.state .sending .up .icon{
    background:url(../../image/icon/sendCol.png) center center no-repeat;
    background-size:32px 32px;
}
.state .finish .up .icon{
    background:url(../../image/icon/finishCol.png) center center no-repeat;
    background-size:32px 32px;
}
.state .stateList .up p{
    color:#3d3d3d;
}
.state .stateList .down {
    border-color:#ff7400;
}
.tipsTop{
    width:565px;
    border-bottom:1px solid #e3e3e3;
    font-size:16px;
    color:#3d3d3d;
    padding-left:15px;
    height:54px;
    line-height:54px;
}
.processList{
    width:565px;
    color:#666;
    margin-top:10px;
    margin-bottom:35px;
}
.processLists{
    position:relative;
}
.dot{
    position:absolute;
    width:7px;
    height:7px;
    border-radius:50%;
    background-color: #d9d9d9;
    left:-3px;
    top:50%;
    margin-top:-3px;
}
.active{
    background-color: #fe4300;
    -webkit-box-shadow:0 0 6px #fe4300;  
    -moz-box-shadow:0 0 6px #fe4300;  
    box-shadow:0 0 6px #fe4300;  
}
.processLists p{
    line-height:30px;
    padding-left:15px;
    border-left:1px solid #d9d9d9;
} 
.order .processList .processLists p .date{
    margin-right:10px;
}
.order .processList .processLists p .day{
    margin-right:10px;
}
.order .processList .processLists p .time{
    margin-right:10px;
}
.order .processList .processLists .then .time{
    margin-left:100px;
}
.order .bottom{
    font-size:16px;
    color:#3d3d3d;
    height:30px;
    line-height:30px;
}
.bottom span{
    float:left;
    height:30px;
    margin-right:15px;
    font-size:16px;
    color:#3d3d3d;
}