/* 
* @Author: Marte
* @Date:   2017-03-22 14:15:31
* @Last Modified by:   Marte
* @Last Modified time: 2017-03-22 14:36:34
*/
.contain .order .topic span{
    float:left;
    height:42px;
    font-size:16px;
    color:#3d3d3d;
}
.contain .order .topic .icon{
    width:21px;
    background:url(../../image/icon/rightColB.png) center center no-repeat;
    background-size:16px 16px;
}
.contain .order form p{
    height:40px;
    margin-bottom:10px;
}
.contain .order form p span{
    float:left;
    width:120px;
    height:40px;
    text-align: center;
}
.contain .order form p input{
    float:left;
    height:38px;
    width:224px;
    border:1px solid #e3e3e3;
    text-indent: 15px;
}
.contain .order form .button{
    width:150px;
    height:40px;
    background-color: #a60400;
    color:white;
    border-width:0;
    margin-top:32px;
    margin-left:197px;
    cursor:pointer;
}
